<ul class="show-group-list">
      <li>
        <% current_user_groups.each do |group| %>
        <div class="group-header">
          <%= link_to image_tag(group.group_logo_url, class: "group-logo"), group_path(group.id) %>
          <h3><%= link_to "#{group.group_name}", group_path(group.id), class: "no-underline-link" %></h3>
        <div>
        <p><%= group.group_description %></p>
        <p><%= group.group_tagline %></p>
        <% end %>
      </li>
  </ul>