<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->

<div class="col-md-12 white-text text-center">
	<h3>Check Out Some Games Users Are Playing</h3>
</div>
<br><br><br>
<div id="this-carousel-id" class="carousel slide" data-ride="carousel"><!-- class of slide for animation -->
  
  <div class="carousel-inner">
    <div class="item active col-centered">
      <%= image_tag(@all_games[rand(1..75)].game_img_url, class: "image-responsive col-md-12") %>
    </div>
    <%= render partial: 'games/games_carousel' %>
  </div>
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
	<h3 class="col-md-12 col-centered text-center white-text">Log in to see more!</h3>
</div>

<script>
	// Activates the Carousel
	$('.carousel').carousel({
		interval: 5000
})
</script>