
<div class="white-text push_right "><strong>Check Out Some Games Other Users Are Playing</strong></div><br><br><br>
<div id="this-carousel-id" class="carousel slide center"/>
  
  <div class="carousel-inner ">
    <div class="item active center">
      <%= image_tag(@all_games[rand(1..75)].game_img_url) %>
    </div>
    <%= render partial: 'games/games_carousel' %>
  </div>
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>