<h1 class="title">USERS#INDEX SITE INDEX</h1>
<div class="body" style="overflow-y: scroll; height: 400px;">
  <div class="feature" id="1">
    <h2>About Us</h2>
    <p>Pudding ice cream candy canes halvah jelly-o cake. Applicake dragée pastry. Bear claw tiramisu candy candy canes. Lemon drops toffee pudding bear claw I love cotton candy brownie cookie gummi bears. Cake I love candy. Icing I love applicake croissant donut apple pie. Chupa chups oat cake soufflé candy. Pie apple pie donut unerdwear.com carrot cake cheesecake dessert carrot cake. Macaroon muffin I love I love toffee chocolate bar ice cream sesame snaps brownie. Macaroon apple pie cheesecake icing bonbon chocolate bar cake. Lemon drops croissant pastry croissant I love muffin. Marzipan applicake pudding candy canes fruitcake wafer oat cake gummi bears.
    </p>
  </div>

  <div class="feature" id="2">
    <h2>Feature 1</h2>
  </div>

  <div class="feature" id="3">
    <h2>Feature 2</h2>
  </div>
  
</div>

