
<script class="private-profile-template" type="text/x-handlebars-template">  
  
  <h2>Public Profile</h2>
    <p>user:{{user.username}}</p>
    
    {{user.user_avatar_url}} 
    {{user.created_at}}
    
    {{#user_games}}
      {{game_name}}
    {{/user_games}}

  
</script>

<!-- HandleBars Insertion Div -->
<div class="private-profile-handlebars">
</div>





