<!-- display news for a specific user -->
<div class="body" style="overflow-y: scroll; height: 400px;">
  <div class="feature" id="1">
    <h2>List of Users News</h2>
  </div>

  <div class="feature" id="2">
    <h2>List of Users Games</h2>
    <% cache do %>
	<% non_null = @games.map{|game| game.game_playtime_forever ||= 0 } %>
   <% non_null_games = @games.sort_by{|game| game.game_playtime_forever * -1 } %>
    <% non_null_games.each do |game| %>

      <%= image_tag(game.game_icon_url) %>
      <%= game.game_name %>
      <br />
      <% end %>
    <% end %>
  </div>

  <div class="feature" id="3">
    <h2>Other Stuff</h2>
  </div>
</div>




