<h1>Listing games</h1>

<div class="body" style="overflow-y: scroll; height: 400px;">
  <div class="feature" id="1">
    <h2>List of Games</h2>
  </div>

  <div class="feature">
    <h2>List of Users Games</h2>
        <% cache do %>
      <% @games.each do |game| %>
      <div class="one-third column">
        <%= link_to image_tag(game.game_img_url), game_path(game) %>
          <p><%= game.game_name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

  <div class="feature" id="3">
    <h2>Other Stuff</h2>
  </div>


<%= link_to 'New Game', new_game_path %>
