
<% if @games.kind_of?(Array) %>
	<ul>
		<% @games.each do |game| %>
			<li><%= link_to "#{game.game_name}", confirm_games_path(game), method: :post %></li>
		<% end  %>
	</ul>
<% else  %>
	<%= link_to "#{@games}", confirm_games_path(game), method: :post %>
<% end %>