/*

* {
  border: 1px solid red;
}*/
/* line 10, ../../app/assets/stylesheets/styles.css.scss */
body {
  padding-bottom: 15%;
  background-image: url("hixs_pattern_evolution.png");
  background-size: auto, cover;
  background-repeat: repeat;
}

/* line 18, ../../app/assets/stylesheets/styles.css.scss */
.body-container {
  color: red;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  background-color: black;
  padding-bottom: auto;
}

/*div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}*/
/* line 32, ../../app/assets/stylesheets/styles.css.scss */
.container img {
  max-width: 100%;
}

/* line 37, ../../app/assets/stylesheets/styles.css.scss */
.navbar {
  text-align: center;
  background-color: black;
  padding: 1% 0 1% 0;
  border-bottom: solid 3px #1E1291;
}

/* line 44, ../../app/assets/stylesheets/styles.css.scss */
.nav-brand {
  /*border: solid #1E1291;*/
  margin: 0 220px 0 220px;
}

/* line 49, ../../app/assets/stylesheets/styles.css.scss */
.nav-brand a {
  color: #fff;
  text-decoration: none;
  color: #1E1291;
}

/* line 55, ../../app/assets/stylesheets/styles.css.scss */
.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}

/* line 59, ../../app/assets/stylesheets/styles.css.scss */
.nav-options {
  text-align: center;
  width: 20%;
  margin: 5% 5% 5% 65%;
  border-radius: 3px;
  background-color: #B8B8B8;
}

/* line 67, ../../app/assets/stylesheets/styles.css.scss */
.nav-options-group-join {
  text-align: center;
  margin: 3% 3% 3% 93%;
}

/* line 72, ../../app/assets/stylesheets/styles.css.scss */
.nav-options a {
  text-decoration: none;
  color: #1E1291;
}

/* line 77, ../../app/assets/stylesheets/styles.css.scss */
.splash-buttons {
  /*position: relative;*/
  /*right: 5%;*/
  /*margin-right: 30px;*/
  /*float: right;*/
  display: inline;
  top: 1%;
  /*position: absolute;*/
}

/* line 87, ../../app/assets/stylesheets/styles.css.scss */
.splash-buttons table {
  margin: auto auto;
}

/* line 91, ../../app/assets/stylesheets/styles.css.scss */
.splash-buttons table tr td {
  padding: 7px;
}

/* line 95, ../../app/assets/stylesheets/styles.css.scss */
.signin-form {
  margin: 20%;
}

/* line 99, ../../app/assets/stylesheets/styles.css.scss */
.splash-buttons a {
  text-decoration: none;
  font-size: 1.25em;
  text-shadow: 0.05em 0.05em 0.05em gray;
}

/* line 105, ../../app/assets/stylesheets/styles.css.scss */
.splash-buttons a:hover {
  color: red;
}

/* line 110, ../../app/assets/stylesheets/styles.css.scss */
#signup-button a {
  margin-top: 10%;
  text-shadow: 0.1em 0.1em 0.2em white;
}

/* line 115, ../../app/assets/stylesheets/styles.css.scss */
.feature {
  margin: 5% 5% 5% 5%;
  border-radius: 3px;
  background-color: #B8B8B8;
  /*background-color: rgba (80,80,80,0.5);*/
  /*opacity: 0.8;*/
}

/* line 123, ../../app/assets/stylesheets/styles.css.scss */
.footer {
  text-shadow: 0.1em 0.1em 0.2em white;
  position: fixed;
  bottom: 0;
  border-top: solid 3px #1E1291;
  text-align: center;
  color: #1E1291;
  width: 100%;
  /*margin-left: 10%;*/
}

/* line 134, ../../app/assets/stylesheets/styles.css.scss */
.group-logo {
  width: 75px;
}

/* line 138, ../../app/assets/stylesheets/styles.css.scss */
.group-logo-large {
  width: 100px;
}

/* line 142, ../../app/assets/stylesheets/styles.css.scss */
.show-group-list {
  list-style: none;
}

/* line 146, ../../app/assets/stylesheets/styles.css.scss */
.no-underline-link {
  text-decoration: none;
}

/* line 150, ../../app/assets/stylesheets/styles.css.scss */
.group-header {
  /*Sure wish this worked. someone please show me what im doing wrong.*/
  display: inline;
}

/* line 155, ../../app/assets/stylesheets/styles.css.scss */
.search-options {
  display: inline;
}

/* line 159, ../../app/assets/stylesheets/styles.css.scss */
.search-options table {
  margin-left: 4%;
}

/* line 163, ../../app/assets/stylesheets/styles.css.scss */
.search-options table tr {
  margin-right: 10%;
}

/* line 167, ../../app/assets/stylesheets/styles.css.scss */
.search-options table tr td {
  padding: 2%;
}

/* line 171, ../../app/assets/stylesheets/styles.css.scss */
.index-search-button {
  margin-right: 5%;
}

/* line 175, ../../app/assets/stylesheets/styles.css.scss */
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 184, ../../app/assets/stylesheets/styles.css.scss */
.button-success {
  background: #1cb841;
  /* this is a green */
}

/* line 188, ../../app/assets/stylesheets/styles.css.scss */
.button-purple {
  background: #4C2D7C;
  /* this is a green */
  color: white;
  border-radius: 10px;
}

/* line 194, ../../app/assets/stylesheets/styles.css.scss */
.button-error {
  background: #ca3c3c;
  /* this is a maroon */
}

/* line 198, ../../app/assets/stylesheets/styles.css.scss */
.button-warning {
  background: #df7514;
  /* this is an orange */
}

/* line 202, ../../app/assets/stylesheets/styles.css.scss */
.button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}

/* line 206, ../../app/assets/stylesheets/styles.css.scss */
.btn-custom {
  background-color: #006399 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 #005380;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

/* line 223, ../../app/assets/stylesheets/styles.css.scss */
.white-text {
  color: white;
}

/* line 227, ../../app/assets/stylesheets/styles.css.scss */
.gray-text {
  color: gray;
}

/* line 231, ../../app/assets/stylesheets/styles.css.scss */
.yellow-text {
  color: yellow;
}

/* line 235, ../../app/assets/stylesheets/styles.css.scss */
.purple-text {
  color: purple;
}

/* line 239, ../../app/assets/stylesheets/styles.css.scss */
.black-bg {
  background-color: black;
}

/* line 243, ../../app/assets/stylesheets/styles.css.scss */
.game-image img {
  width: 100%;
}

/* line 247, ../../app/assets/stylesheets/styles.css.scss */
.usergroup {
  color: black;
  text-decoration: none;
  list-style: none;
}

/* line 253, ../../app/assets/stylesheets/styles.css.scss */
.centered {
  text-align: center;
}

/* line 257, ../../app/assets/stylesheets/styles.css.scss */
.group_icon {
  max-height: 10%;
  max-width: auto;
}

/*
.game-image img{
  height: 100%;
}*/
/* line 268, ../../app/assets/stylesheets/styles.css.scss */
.float-left {
  float: left;
  margin-right: 200px;
}

/* line 273, ../../app/assets/stylesheets/styles.css.scss */
.float-right {
  float: right;
  width: 200px;
}

/* line 278, ../../app/assets/stylesheets/styles.css.scss */
.game-image img {
  display: block;
  overflow: hidden;
  background-size: cover;
  /*width: 100%;*/
  height: 200px;
  float: left;
}

/* line 287, ../../app/assets/stylesheets/styles.css.scss */
.border-white {
  border: 3px solid white;
  border-radius: 10px;
}

/* line 292, ../../app/assets/stylesheets/styles.css.scss */
.brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 297, ../../app/assets/stylesheets/styles.css.scss */
.container-fluid img {
  max-width: 100%;
}

/* line 301, ../../app/assets/stylesheets/styles.css.scss */
.nav > li > a {
  padding-top: 0px;
  padding-bottom: 15px;
}

/* line 306, ../../app/assets/stylesheets/styles.css.scss */
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: none;
  border-right: none;
  border-left: none;
}

/* line 314, ../../app/assets/stylesheets/styles.css.scss */
.navbar-default {
  background-image: none;
}

/* line 318, ../../app/assets/stylesheets/styles.css.scss */
.navbar-default .navbar-nav > .active > a {
  background-image: none;
  background-repeat: no-repeat;
}

/* line 323, ../../app/assets/stylesheets/styles.css.scss */
.navbar-inverse {
  background-image: none;
}

/* line 327, ../../app/assets/stylesheets/styles.css.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-image: none;
}

/* line 331, ../../app/assets/stylesheets/styles.css.scss */
section {
  /*border: 1px red solid;*/
  position: relative;
  width: 80%;
  height: 300px;
  margin: auto;
  padding: 10px;
}

/* line 340, ../../app/assets/stylesheets/styles.css.scss */
.signup_fields {
  float: right;
}

/* line 344, ../../app/assets/stylesheets/styles.css.scss */
.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}

/* line 348, ../../app/assets/stylesheets/styles.css.scss */
#new_user {
  position: relative;
  padding-top: 3px;
}

/* line 353, ../../app/assets/stylesheets/styles.css.scss */
.text_area {
  float: right;
  padding-left: 15px;
}

/* line 358, ../../app/assets/stylesheets/styles.css.scss */
.text-left {
  text-align: left;
}

/* line 362, ../../app/assets/stylesheets/styles.css.scss */
.field {
  padding-bottom: 40px;
}

/* line 366, ../../app/assets/stylesheets/styles.css.scss */
.new_user_welcome {
  width: 80%;
  margin: auto;
  text-align: right;
}

/* line 373, ../../app/assets/stylesheets/styles.css.scss */
.container-trans {
  background-color: gray;
  filter: alpha(opacity=70);
  -moz-opacity: .70;
  opacity: .70;
  border-radius: 10px;
}

/* line 381, ../../app/assets/stylesheets/styles.css.scss */
.container-trans a {
  color: purple;
}

/* line 385, ../../app/assets/stylesheets/styles.css.scss */
.container-search {
  width: 40%;
  padding: .7%;
  border-radius: 15px;
  border: 1px ridge purple;
}

/* line 392, ../../app/assets/stylesheets/styles.css.scss */
.games-height {
  height: 60px;
}

/* line 396, ../../app/assets/stylesheets/styles.css.scss */
.user_events {
  float: right;
  padding-right: 100px;
}

/* line 401, ../../app/assets/stylesheets/styles.css.scss */
.all_events {
  float: left;
  left: 0;
}

/* line 406, ../../app/assets/stylesheets/styles.css.scss */
.inline {
  display: inline;
}

/* line 410, ../../app/assets/stylesheets/styles.css.scss */
.inline-button {
  padding-right: 10;
  margin-right: 50%;
}

/* line 415, ../../app/assets/stylesheets/styles.css.scss */
.wide {
  max-width: 100%;
}

/* line 419, ../../app/assets/stylesheets/styles.css.scss */
.margin-1 {
  margin: 1%;
}
