/** {
  border: 1px solid red;
}*/

.body {
  padding-bottom: 15%;
}

.body-container {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  background-color: black;
  padding-bottom: auto;
}

/*div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}*/

.navbar {
  text-align: center;
  background-color: black;
  padding: 1% 0 1% 0;
  border-bottom: solid 3px #1E1291;
}

.nav-brand {
  /*border: solid #1E1291;*/
  margin: 0 220px 0 220px;
}

.nav-brand a {
  color: #fff;
  text-decoration: none;
  color: #1E1291;
}

.splash-buttons {
  /*position: relative;*/
  /*right: 5%*/;
  /*margin-right: 30px;*/
  /*float: right;*/
  display: inline;
  top: 1%;
  /*position: absolute;*/
}

.signin-form {
  margin: 20%;
}

.splash-buttons a {
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em white;
}

#signup-button a {
  margin-top: 10%;
  text-shadow: 0.1em 0.1em 0.2em white;
}

.feature {
  margin: 5% 5% 5% 5%;
  border-radius: 3px;
  background-color: #B8B8B8;
  /*background-color: rgba (80,80,80,0.5);*/
  /*opacity: 0.8;*/
}

.footer {
  text-shadow: 0.1em 0.1em 0.2em white;
  position: fixed;
  bottom: 0;
  border-top: solid 3px #1E1291;
  text-align: center;
  color: #1E1291;
  width: 100%;
  /*margin-left: 10%;*/
}





























