



/** {
  border: 1px solid red;
}*/

body {
  padding-bottom: 15%;
  background-image: url('hixs_pattern_evolution.png');
  background-size: auto, cover;
  background-repeat: repeat;
}


.body-container {
  color: red;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  background-color: black;
  padding-bottom: auto;
}

/*div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}*/

.container img {
  max-width: 100%;
  max-height: 10%;
}

.navbar {
  text-align: center;
  background-color: black;
  padding: 1% 0 1% 0;
  border-bottom: solid 3px #1E1291;
}

.nav-brand {
  /*border: solid #1E1291;*/
  margin: 0 220px 0 220px;
}

.nav-brand a {
  color: #fff;
  text-decoration: none;
  color: #1E1291;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

.nav-options {
  text-align: center;
  width: 30%;
  margin: 5% 5% 5% 65%;
  border-radius: 3px;
  background-color: #B8B8B8;
}

.nav-options-group-join {
  text-align: center;
  margin: 3% 3% 3% 93%;
}

.nav-options a {
  text-decoration: none;
  color: #1E1291;
}

.splash-buttons {
  /*position: relative;*/
  /*right: 5%;*/
  /*margin-right: 30px;*/
  /*float: right;*/
  display: inline;
  top: 1%;
  /*position: absolute;*/
}

.splash-buttons table {
margin: auto auto;
}

.splash-buttons table tr td {
  padding: 7px;
}

.signin-form {
  margin: 20%;
}

.splash-buttons a {
  text-decoration: none;
  font-size: 1.25em;
  text-shadow: 0.05em 0.05em 0.05em gray;
}

.splash-buttons a:hover{
  color: red;
}


#signup-button a {
  margin-top: 10%;
  text-shadow: 0.1em 0.1em 0.2em white;
}

.feature {
  margin: 5% 5% 5% 5%;
  border-radius: 3px;
  background-color: #B8B8B8;
  /*background-color: rgba (80,80,80,0.5);*/
  /*opacity: 0.8;*/
}

.footer {
  text-shadow: 0.1em 0.1em 0.2em white;
  position: fixed;
  bottom: 0;
  border-top: solid 3px #1E1291;
  text-align: center;
  color: #1E1291;
  width: 100%;
  /*margin-left: 10%;*/
}

.group-logo {
  width: 75px;
}

.group-logo-large {
  width: 100px;
}

.show-group-list {
  list-style: none;
}

.no-underline-link {
  text-decoration: none;
}

.group-header {
  /*Sure wish this worked. someone please show me what im doing wrong.*/
  display: inline;
}

.search-options {
  display: inline;
}

.search-options table {
  margin-left: 4%;
}

.search-options table tr {
  margin-right: 10%;
}

.search-options table tr td {
  padding: 2%;
}

.index-search-button {
  margin-right: 5%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-purple {
    background: purple; /* this is a green */
    color: white;
    border-radius: 10px;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.btn-custom {
  background-color: hsl(201, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.white-text {
  color: white;
}

.gray-text {
  color: gray;
}

.yellow-text {
  color: yellow;
}

.purple-text {
  color: purple;
}

.black-bg {
  background-color: black;
}

.game-image img {
	width: 100%;
}

.usergroup {
	color: black;
	text-decoration: none;
	list-style: none;
}

.centered {
  text-align: center;
}

/*
.game-image img{
  height: 100%;
}*/


.float-left {
  float: left;
  margin-right: 200px;
}

.float-right {
  float: right;
  width: 200px;
}

.game-image img {
    display: block;
    overflow: hidden;
    background-size: cover;
    /*width: 100%;*/
    height: 200px;
    float: left;
}

.border-white {
  border:3px solid white;
  border-radius:10px;
}

.brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-fluid img {
  max-width: 100%;
}

.nav > li > a {
  padding-top: 0px;
  padding-bottom: 15px;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.navbar-default {
  background-image: none;
}

.navbar-default .navbar-nav > .active > a {
  background-image: none;
  background-repeat: no-repeat;
}

.navbar-inverse {
  background-image: none;
}

.navbar-inverse .navbar-nav > .active > a {
  background-image: none;
}

section {
  /*border: 1px red solid;*/
  position: relative;
  width: 80%;
  height: 300px;
  margin: auto;
  padding: 10px;
}

.signup_fields {
  float: right;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

#new_user {
  position: relative;
  padding-top: 3px;
}

.text_area {
  float: right;
  padding-left: 15px;
}

.field {
  padding-bottom: 40px;
}

.new_user_welcome {
  width: 80%;
  margin: auto;
  text-align: right;
}


.container-trans {
  background-color: gray;
  filter: alpha(opacity=70);
  -moz-opacity:.70;
  opacity:.70;
  border-radius: 10px;
}

.container-trans a{
  color:purple;
}

.container-search {
  width: 40%;
  padding: .7%;
  border-radius: 15px;
  border: 1px ridge purple;
}

.games-height {
  height: 60px;
}

.user_events {
  float: right;
  padding-right: 100px;
}

.all_events {
  float: left;
  left: 0;
}


