/** {
  border: 1px solid red;
}*/

.body {
  padding-bottom: 15%;
}

.body-container {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  background-color: black;
  padding-bottom: auto;
}

/*div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}*/

.navbar {
  text-align: center;
  background-color: black;
  padding: 1% 0 1% 0;
  border-bottom: solid 3px purple;
}

.nav-brand {
  /*border: solid purple;*/
  margin: 0 220px 0 220px;
}

.nav-brand a {
  color: #fff;
  text-decoration: none;
  color: purple;
}

.splash-buttons {
  /*position: relative;*/
  right: 4%;
  float: right;
  display: inline;
  top: 3%;
  position: absolute;
  /*border: solid purple;*/
}

.signin-form {
  margin: 20%;
}

.splash-buttons a {
  text-decoration: none;
}

.feature {
  margin: 5% 5% 5% 5%;
  border-radius: 3px;
  background-color: #B8B8B8;
  /*background-color: rgba (80,80,80,0.5);*/
  /*opacity: 0.8;*/
}

.footer {
  position: fixed;
  bottom: 0;
  border-top: solid 3px purple;
  text-align: center;
  color: purple;
  width: 100%;
  /*margin-left: 10%;*/
}





























