<div class="navbar">
	<div>
		<h1 class="nav-brand"><%= link_to "MetaGame", root_path %></h1>
		<% if current_user %>
			<h1 class="nav-brand"><%= link_to "Logout", logout_path %></h1>
		<% end %>
	</div>
</div>